*{
    font-family:  ProximaNovaRegular,Arial;
}
#top5{
    width: 90%;
    margin: auto;
    margin-top: 10px;
    height: 240px;
    text-align: left;
    background-color: #cebfbf;
    border: 1px solid #cebfbf;
}
#top5>h1{

    font-size: 32px;
    color: #222222;
    font-weight: 200;
    margin-top: 80px;
    margin-left: 100px;
    font-family: "RFFontRoman",Arial, sans-serif;;
}
#top5>p{
    color:#3b3b3b;
    font-size: 18px;
    margin-left: 100px;
}
#smooth{
    width: 90%;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
#smooth>div{
margin-top: 10px;
color:#222222;
padding: 5px;
}
#smooth>div>h4{
    font-weight: 300;
}
#smooth>div>button{
    width: 100%;
    font-weight: 500;
    border: 1px solid #222222;
    border-radius: 5px;
    height: 40px;
    background-color: #ffffff;
    cursor: pointer;
}
#smooth>div>img{
    height: 60%;
    width: 100%;
}